@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
#mid {
  display: flex;
  flex-direction: row;
}
#mid a {
  font-weight: 500;
  font-size: 18px;
  color: #50504f;
  text-decoration: none;
  margin-right: 60px;
  text-align: center;
}
#mid a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: #705dc7;
  text-decoration-thickness: 5px;
  cursor: pointer;
}
button {
  font-size: 14px;
  font-weight: 550;
  height: 45px;
  width: 135px;
  border: none;
  border-radius: 20px;
}
#your_acc {
  background-color: #ffd8db;
  color: #705dc7;
  cursor: pointer;
}
.underline {
  width: 50px;
  height: 4px;
  background-color: white;
  margin-top: 3px;
  border-radius: 2px;
}

#logo_wrapper {
  height: 50px;
  width: 130px;
}
#logo_wrapper img {
  height: 100%;
  width: 100%;
}
nav {
  box-sizing: border-box;
  padding: 0 25px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80vh;
  padding: 0 100px;
  margin-top: 10px;
}
#left_side {
  box-sizing: border-box;
  width: 40%;
}
#left_side h1 {
  font-size: 50px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1;
}
#left_side > p {
  color: #50504f;
  font-weight: 500;
}
#full_stop {
  height: 10px;
  width: 10px;
  background-color: #705dc7;
  display: inline-block;
}
#button_wrapper {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
#new_acc {
  background-color: #705dc7;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}
.arrow {
  height: 45px;
  margin-right: 5px;
}
table {
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
}
tr {
  background-color: #f6f6f6;
  display: inline-block;
  box-sizing: border-box;
  margin: 1px;
  width: 100%;
  color: black;
  padding: 0;
}
td {
  padding: 2px;
}
.row {
  border: 2px solid white;
  border-radius: 20px;
}
.row button {
  border: none;
  height: 10px;
  width: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
.tick {
  padding-left: 5px;
  padding-right: 0;
  width: 15%;
}
.text {
  padding-right: 20px;
  width: 40%;
}
.user {
  width: 15%;
}
.user_img {
  height: 31px;
  width: 31px;
}
.date {
  padding-right: 10px;
  width: 20%;
}
#right_side {
  padding-top: 40px;
  width: 50%;
}
#right_side img {
  width: 100%;
}
.btn {
  padding-top: 2px;
  padding-bottom: 2px;
}
tr:hover {
  box-shadow: 0 0 30px gray;
  border-radius: 15px;
  background-color: white;
}
#btn1 {
  background-color: #feb3c8;
}
#btn2 {
  background-color: #fd6534;
}
#btn3 {
  background-color: #9ed095;
}
#btn4 {
  background-color: #ffe0a4;
}
